{% extends 'index.html' %}
{% block title %}
<title>Eshop  ||  Cart</title>
{% endblock %}
{% block content %}
<h1 class="background text-light p-2 mt-2 text-center">Cart Page</h1>
<div class="container-fluid">
    <div class="table-responsive">
{% if cart %}
        <table class='table table-striped table-hover table-bordered fs-5 text-center' >
            <tr>
                <th>Images</th>
                <th>Name</th>
                <th>Color</th>
                <th>Size</th>
                <th>Price</th>
                <th></th>
                <th>Quantity</th>
                <th></th>
                <th>Total</th>
                <th>Maincategory</th>
                <th>Subcategory</th>
                <th>Brand</th>
                <th></th>
            </tr>
            {% for k,i in cart.items %}
            <tr>
                <td><img src="{{i.pic}}" width="80px" class="rounded" height="80px"></td>
                <td>{{i.name}}</td>
                <td>{{i.color}}</td>
                <td>{{i.size}}</td>
                <td>{{i.price}}</td>
                <td><a href="/update-cart/{{k}}/dec"><i class="bi bi-dash fs-4"></i></a></td>
                <td>{{i.qty}}</td>
                <td><a href="/update-cart/{{k}}/inc"><i class="bi bi-plus fs-4"></i></a></td>
                <td>{{i.total}}</td>
                <td>{{i.maincategory}}</td>
                <td>{{i.subcategory}}</td>
                <td>{{i.brand}}</td>
                <td><a href="/delete-cart/{{k}}"><i class="bi bi-trash fs-5"></i></a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-12">

        </div>
        <div class="col-md-6 col-12">
            <div class="table-responsive ">
                <table class="table table-striped table-hover table-bordered fs-4 text-center">
                    <tr>
                        <th>Total Amount</th>
                        <td>&#8377;{{total}}</td>
                    </tr>
                    <tr>
                        <th>Shipping Amount</th>
                        <td>&#8377;{{shipping}}</td>
                    </tr>
                    <tr>
                        <th>Final Amount</th>
                        <td>&#8377;{{final}}</td>
                    </tr>
                    <tr>
                        <th colspan="2"><a href="/check-out" class="btn btn-sm background text-light text-center w-100">Checkout</a></th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="container-fluid">
    <div class="bg-black-50 text-center text-black w-100" style="height:450px"><h2>Empty Cart</h2></div>
</div>
{% endif %}
{% endblock %}
